[Desktop Entry]
Name=Sublime Text 3 URL Handler
GenericName=Text Editor
Comment=Handle URL Scheme subl://
Exec=/usr/bin/sublime-handler %u
Terminal=false
Type=Application
MimeType=x-scheme-handler/subl;
Icon=~/Gnome/icon/sublime_text3.png
Categories=TextEditor;Development;Utility;
Name[en_US]=Sublime Text 3 URL Handler
